<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title> <ion-button fill="clear" [routerLink]="'/option'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
   <ion-card>
    <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="#d4ffe0">
        <ion-text rows="6" cols="20"><br>WHAT IS THE DIFFERENCE BETWEEN BRIGHT, MEDIUM AND LOW LIGHT PLANTS?</ion-text>
      </ion-item>
      <div class="ion-padding" slot="content" >
        <li>Bright light plants will do well in direct or strong sunlight for the most part of a day.</li>
        <li>Medium light plants should stay out of the direct sunlight. They should be placed in a bright room and will enjoy partial or filtered sunlight.</li>
        <li>Low light plants prefer to stay in the shade or to be displayed under fluorescent light.
      </div>
    </ion-accordion><br>
  
<ion-accordion value="second">
  <ion-item slot="header" color="#d4ffe0">
    <ion-text rows="6" cols="20" ><br>WHICH INDOOR PLANTS ARE THE EASIEST TO CARE FOR?</ion-text>
  </ion-item>
  <div class="ion-padding" slot="content">
    <li>Pothos </li>
    <li>Aglaonema</li>
     <li>Sansevieria</li>
     <li>Dracaena Lisa</li>
     <li>Spider</li>
     <li>Corn</li>
     <li>iron</li>
     <li>ZZ Plant</li>
     <li>Birds Nest fern</li>
      <li>Cacti</li>
  </div>
</ion-accordion><br>

<ion-accordion value="third">
    <ion-item slot="header" color="#d4ffe0">
      <ion-text rows="6" cols="20"><br>SHOULD I MIST MY PLANTS? WHICH PLANTS LIKE TO HAVE LEAVES MISTED?</ion-text>
    </ion-item>
    <div class="ion-padding" slot="content">
      <li>Plants like Bird of Paradise, Philodendron, Fern, Iron plant, Bella Palm will enjoy if you mist their leaves often.</li>
          <li>Plants like Majesty Palm and Spider plant should have air misted around them.</li>
          <li>Plants like Snake, ZZ, Yucca, Jade prefer not to be misted.</li>
          <li>Heat dries out the air the most, and misting pants that love humidity daily during the cold season is essential.</li>
          <li>AC will remove moisture from the air as well but not as much. Mist your humidity loving plants at least few times a week during the warm season.</li>
          <li>A humidifier is also a good option. Your skin and your plants will benefit from it equally :)</li>
    </div>
  </ion-accordion><br>
<ion-accordion value="forth">
  <ion-item slot="header" color="#d4ffe0">
    <ion-text rows="6" cols="20"><br>I BOUGHT A PLANT IN GROWERS POT. WHEN SHOULD I REPOT MY PLANT AND WHAT KIND OF POT TO LOOK FOR?</ion-text>
  </ion-item>
  <div class="ion-padding" slot="content">
    <li>It is best to repot your plant as it is not supposed to live in its growing pot. If you do not see the roots poking out of drainage holes, you can wait for a few months and take your time to find a perfect pot for your green baby. Otherwise, repot it rather sooner than later. </li>
          <li>Choose a pot 1-3 inches larger than the original container. Pots with drainage are always the best choice but if you found an awesome cache pot that you must have, make sure to add a good layer of rocks at the bottom of a pot to provide a drainage for your plant. </li>
    </div>
</ion-accordion><br>
<ion-accordion value="fifth">
  <ion-item slot="header" color="#d4ffe0">
    <ion-text rows="6" cols="20"><br>HOW CAN I TELL IF A PLANT IS STRUGGLING?</ion-text>
  </ion-item>
  <div class="ion-padding" slot="content">
    <li>yellowing or dropping leaves;</li>
        <li>leaf spots appear brown with a yellow halo;</li>
        <li>brown or yellow spots or brown edges on leaves;</li>
        <li>leaves are curling in;</li>
        <li>droopiness or wilting;</li>
        <li>white spots or web are showing on a plant;</li>
        <li>loss of leaf color;</li>
        <li>weak growth.</li>
  </div>
</ion-accordion><br>
<ion-accordion value="sixth">
  <ion-item slot="header" color="#d4ffe0">
    <ion-text rows="6" cols="20"><br>CAN I REPLACE A PLANT I BOUGHT IN NURSERY POT?</ion-text>
  </ion-item>
  <div class="ion-padding" slot="content">
    <li>If your plant dies within first 3 days, we will replace it free of charge. </li>
    <li>After 3 days period, we don't offer any replacement discounts. </li>
    <li>Please include your order number. </li>
  </div>
</ion-accordion><br>
<ion-accordion value="seventh">
  <ion-item slot="header" color="#d4ffe0">
    <ion-text rows="6" cols="20"><br>WHAT IS YOUR CANCELATION/REFUND POLICY?</ion-text>
  </ion-item>
  <div class="ion-padding" slot="content">
    <li>If order is canceled by a customer prior a delivery date, a customer will get a full refund. </li>
    <li>If order is canceled on a day of delivery, a customer will get a full refund minus re-stocking fee of $40.00 per plant. </li>
    <li>All other order cancellations are non refundable.</li>
  </div>
</ion-accordion><br>
    </ion-accordion-group>
    
        
        </ion-card>
  

 
</ion-content>
