<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" [routerLink]="'/home2'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>About Us</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
      <div class="mission" style="text-align: center">
        <h4 class="First">Hello and welcome to</h4>
        <img src="assets/icon/shoplant.png">
       <p class="Hello">The place to find the best plants for every taste, seasons, and occasions. We thoroughly check the quality of our goods, working only with reliable sellers so that you only receive the best quality products and services.

        We at ShoPlant believe in high quality and exceptional customer service. But most importantly, we believe shopping is a right, not a luxury, so we strive to deliver the best products at the most affordable prices and ship them to you regardless of where you are located in Batangas City.</p> 
      </div>
      <div class="ion-text-about" style="text-align: center;">
        <h4 class="who">Who we are?</h4>
      </div>
    <ion-card>
      <ion-card-content>
        <img src="assets/icon/dimaano.png">
        <center>
          <h1>Mark Angelo B. Dimaano</h1>
          <p>Team Leader</p>
        </center>
      </ion-card-content>

      <ion-card-content>
        <img src="assets/icon/bruce.jpg">
        <center>
          <h1>Reggie R. Bruce</h1>
          <p>Member</p>
        </center>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/icon/valentin.jpg">
        <center>
          <h1>Mhar Nhel J. Valentin</h1>
          <p>Member</p>
        </center>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/icon/cueto.png">
        <center>
          <h1>Wendel D. Cueto</h1>
          <p>Member</p>
        </center>
      </ion-card-content>
      <ion-card-content>
        <img src="assets/icon/estoya.png">
        <center>
          <h1>Angelica A. Estoya</h1>
          <p>Member</p>
        </center>
      </ion-card-content>
    </ion-card>
              <p class="We">We are the Information Technology students of Batangas State University who decided to develop an application that can be used by the seller and buyer of different types of plants, seeds, and crops. </p>

        


</ion-content>