<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" [routerLink]="'/home2'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>CROPS</ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\crop11.jpg" >
          <p>ROOT CROPS SEED </p>
          <p>₱15 - 25</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\crop22.jpg" >
          <p> GOMPHRENA PING PONG MIX FLOWER PLANT SEEDS 30pcs</p>
          <p>₱70</p>
      </ion-card-content></ion-card>

      <ion-card>
      <ion-card-content>
          <img src="assets\icon\crop33.jpg" >
          <p> TOMATO </p>
          <p>₱40</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\crop44.jpg" >
          <p> POTATO</p>
          <p>₱80</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <img src="assets\icon\crop55.jpg" >
        <p>EGGPLANT </p>
        <p>₱50</p>
    </ion-card-content>
</ion-card>

</ion-content>

