ion-content{
    margin-top: 50%;
    --ion-background-color: #d4ffe0;
  }
  .container {
    font-family: arial;
    font-size: 24px;
    margin: 10px;
    margin-top: 50px;
    width: 350px;
    height: 200px;
    
  }
  .button1{
    --background: #94641b;
  }
  back-head{
    height: 100%; 
    display: flex; 
    align-items: center;
    justify-content: center;
  }