ion-content{
    --ion-background-color: #d4ffe0;
  }
  .button1{
    --background: #94641b;
  }
ion-header{
  --ion-background-color:#d4ffe0;
  }
  ion-title{
    font-style: italic;
    font-weight: bolder;
  }