<ion-toolbar color="secondary" [class.show-background]="showToolbar">
  <ion-button fill="clear" [routerLink]="'/home2'">
    <ion-icon  name="arrow-back-outline" class="icon"></ion-icon>
  </ion-button>
</ion-toolbar>
<ion-content fullscreen>

  
  <div>
    <center><img src="assets\icon\Palmera.jpg"></center>
  </div>

  <div class="des">
    <ion-item color="none">
    <ion-text class="info"><br>
      &nbsp;&nbsp;&nbsp;&nbsp;Palmera golden Yellow palm live plant.
      &nbsp;&nbsp;&nbsp;&nbsp;<p class="price">P341</p>
    </ion-text>
  </ion-item>
  <div class="des">
    <ion-item class="det" color="none">
      Product Details<br>
    </ion-item> 
    <ion-item color="none">
     <br>Brand &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Brand<br><br>
      Seed Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Live Plant <br><br>
      Warranty Type &nbsp;&nbsp;&nbsp;&nbsp;Supplier Refund Warranty<br><br>
      Model &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Live Plant<br><br>
      Warranty Period &nbsp; 7days <br>
    </ion-item>    
  </div>
  </div>
</ion-content>
<ion-button class="cart">Add to Cart</ion-button>