<ion-header>
    <ion-toolbar>
      <ion-title> <ion-button fill="clear" [routerLink]="'/home2'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>SEEDS</ion-title>
     
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <img src="assets\icon\seed11.jpg" >
            <p> Flower Seeds 10g</p>
            <p>₱14.70</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <img src="assets\icon\seed22.jpg" >
            <p> GOMPHRENA PING PONG MIX FLOWER PLANT SEEDS 30pcs</p>
            <p>₱53.46</p>
        </ion-card-content></ion-card>

        <ion-card>
        <ion-card-content>
            <img src="assets\icon\seed44.jpg" >
            <p> SAFE FLOWER SEEDS 1KG</p>
            <p>₱30</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <img src="assets\icon\seed33.jpg" >
            <p> Orange Balsam impatiens or kamantigue seeds 50pcs</p>
            <p>₱20</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <img src="assets\icon\seed55.jpg" >
            <p>  Chia Seeds authentic organic seed 1kg</p>
            <p>280</p>
        </ion-card-content>
    </ion-card>

</ion-content>
