<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" [routerLink]="'/option'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>My Profile Setting</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <br><br><br><br>
  <ion-item>
    <ion-button class="buttons" >Change Username</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >Change Password</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >My Address</ion-button>
  </ion-item>