ion-header{
    --ion-background-color:#d4ffe0;
}
ion-content{
    --ion-background-color:#d4ffe0;
  }
.textbox{
    background: white;
}
.Next-button{
    float: right;
    margin-right: 20px;
    --background: #94641b;
}
