<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>Option Menu</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
  

    <ion-button class="buttons">Account Settings</ion-button>
   
    
  </ion-item>
 
  <br><br>
  <ion-item>
    <ion-button class="buttons"   >Your Orders</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >Start Selling</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >Costumer Service</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >FAQ</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" >About Us</ion-button>
  </ion-item>
  <br><br><br><br><br><br><br><br><br><br>
  <ion-button class="button1">Sign out &nbsp;
    <ion-icon name="exit-outline"></ion-icon>
  </ion-button>
</ion-content>


