<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" [routerLink]="'/home2'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>Option Menu</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
  

    <ion-button class="buttons" [routerLink]="'/accset'">My Profile Settings</ion-button>
   
    
  </ion-item>
 
  <br><br>
  <ion-item>
    <ion-button class="buttons" [routerLink]="'/yourorder'">Your Orders</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" [routerLink]="'/seller'">Start Selling</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" [routerLink]="'/customerserv'">Customer Service</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" [routerLink]="'/faq'">FAQ</ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="buttons" [routerLink]="'/about'">About Us</ion-button>
  </ion-item>
  <br><br><br><br><br><br><br><br><br><br>
  <ion-button class="button1" [routerLink]="'/home'">Sign out &nbsp;
    <ion-icon name="exit-outline"></ion-icon>
  </ion-button>
</ion-content>


