ion-card-content{
    width: 300px;
}
img{
    margin: 40px;
}
ion-header{
    --ion-background-color:#d4ffe0;
}

ion-content{
    --ion-background-color:#d4ffe0;
  
  }
ion-icon{
    width: 30px;
    height: 30px;
    float: left;

}