<ion-header>
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" [routerLink]="'/home2'" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>PLANTS</ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\plant11.jpg" >
          <p> Sanseviera trifaciata</p>
          <p>₱150</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\plant22.jpg" >
          <p> Rare Plant Seed Garden Plant Monstera Deliciosa Pot Bonsai Plant Seeds</p>
          <p>₱35</p>
      </ion-card-content></ion-card>

      <ion-card>
      <ion-card-content>
          <img src="assets\icon\plant33.jpg" >
          <p>Wishing Plant</p>
          <p>₱179.55</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
          <img src="assets\icon\plant44.jpg" >
          <p> Aloevera Live Plant</p>
          <p>₱145</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <img src="assets\icon\plant55.jpg" >
        <p> Dracaena Reflexa</p>
        <p>₱175</p>
    </ion-card-content>
</ion-card>

</ion-content>
