

<ion-content [fullscreen]="true">

 
  <ion-icon name="list-outline"></ion-icon> 
  <img src ="assets\icon\shoplant.png" alt="shoplant" height="50px" width="280px">
  <ion-icon name="cart-outline" height = "50px" width="50px"></ion-icon>

<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
<center> 
<img src="assets\icon\plants.jpg" height="150px" width="350px">
</center> 

<ion-content >
  <h5 class="categ">CATEGORIES</h5>
  <div class="images">
    <a href="seeds.page.html">
      <ion-img id="seeds" src="assets\icon\seed1.jpg" ></ion-img><ion-text color="dark" class="crops">SEEDS</ion-text></a>
  <a href="crops.html"> <ion-img id="seeds" src="assets\icon\crops.jpg" ></ion-img><ion-text color="dark" class="crops">CROPS</ion-text></a>
  <a href="plant.html">
  <ion-img id="seeds" src="assets\icon\plant.jpg" ></ion-img><ion-text color="dark" class="crops">PLANTS</ion-text>
  </a>
  </div>
  <h5 class="categ">Something that interest you</h5>
  

</ion-content>
