<ion-content [fullscreen]="true">
  <ion-button [routerLink]="'/option'"><ion-icon name="list-outline" ></ion-icon> </ion-button>
  <img src ="assets\icon\shoplant.png" alt="shoplant" height="50px" width="250px">
  <ion-button [routerLink]="'/create'"><ion-icon name="person-add-outline"></ion-icon></ion-button>

<center><img src="assets\icon\plants.jpg" height="150px" width="350px"></center> 


<h5 class="categ">CATEGORIES</h5>
<div class="images">
  <a [routerLink]="'/create'">
    <ion-img id="seeds" src="assets\icon\seed1.jpg" ></ion-img><ion-text color="dark" class="crops">SEEDS</ion-text></a>
  <a [routerLink]="'/create'"> 
    <ion-img id="seeds" src="assets\icon\crops.jpg" ></ion-img><ion-text color="dark" class="crops">CROPS</ion-text></a>
  <a [routerLink]="'/create'">
    <ion-img id="seeds" src="assets\icon\plant.jpg" ></ion-img><ion-text color="dark" class="crops">PLANTS</ion-text></a>
</div>
<h5 class="categ">Something that interest you</h5>

<ion-slides [option]="option" class="ion-margin-top">


<ion-slide>
  <ion-card>
    <img src="assets\icon\plant1.webp">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets\icon\plant2.jpg">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets\icon\plant3.jpg">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets\icon\seed1.jpg">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets\icon\seed2.jpg">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets\icon\seed3.jpg">
  </ion-card>
</ion-slide>


</ion-slides>
</ion-content>